:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #df6442;
  --text-color: #000000;
  --text-secondary-color: #5b5b5e;
  --text-email-color: #9ea1b1;
  --white-color: #ffffff;
  --separator-color: #d4d6e0;
}
